body {
    background-color: #222222; /* background color */
    margin: 0;
    padding: 0;
}


/* Add a black background color to the top navigation */
.nav-bar {
  background-color: #3B3B3B;
  overflow: hidden;
  position: fixed;
  width: 100%; /* make nav-bar stretch whole page */
  border-bottom: 2px solid #C86060;
}

/* Style the links inside the navigation bar */
.nav-bar a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-family: 'Imprima';
  font-size: 24px;
}

.nav-bar .name {
    float: right;
    color: #FF7474;
    text-align: center;
    padding: 20px 96px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Fredoka';
    font-weight: 600;
}


/* Change the color of links on hover */
.nav-bar a:hover {
  /* background-color: #ddd; */
  color: #FF7474;
}


